@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    
    <div class="form-horizontal" ng-controller="movieeditcontroller">
        <h2>{{editHeader}}</h2>
        <hr />
        <div class="form-group">
            <label>
                Title:
                <input type="text" value="{{movieEditList.Title}}"class="form-control" required>
            </label>
               
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })*@
                
            </div>
        </div>

        <div class="form-group">
            <label>
                Release Date:
                <input type="text"  value="{{movieEditList.ReleaseDate}}"class="form-control" required>
            </label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <label>
                Genre:
                <input type="text"  value="{{movieEditList.Genre}}"class="form-control" required>
            </label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Genre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <label>
                Price:
                <input type="text"  value="{{movieEditList.Price}}"class="form-control" required>
            </label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
           <label>
               Rating:
               <input type="text"  value="{{movieEditList.Rating}}"class="form-control" required>
            </label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
