@model IEnumerable<MvcProject2.Models.Movy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="moviecontroller">
    <h1>Movie Listing</h1>


    <p class="addMovie">
        <a ng-href="@Url.Content("~/Movies/Create/")">Add Movie</a>
    </p>

    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {

        @*<p class="searchFilters">
                Genre: @Html.DropDownList("movieGenre", "All") <br />
                Search By Title: @Html.TextBox("SearchString") <br />
                <input type="submit" value="Search" />

            </p>*@

    }



    <table class="table">
        <tr>
            <th>Title</th>
            <th> Release Date</th>
            <th>Genre</th>
            <th>Price</th>
            <th> Rating </th>
            <th> CRUD</th>
        </tr>


        <tr ng-repeat="item in movieList">
            <td>
                {{ item.Title }}
            </td>
            <td>
                {{ item.ReleaseDate }}
            </td>
            <td>
                {{ item.Genre }}
            </td>
            <td>
                {{ item.Price }}
            </td>
            <td>
                {{ item.Rating }}
            </td>
            <td>
                <a ng-href="@Url.Content("~/Movies/Edit/"){{item.ID}}">Edit</a>
                <a ng-href="@Url.Content("~/Movies/Details/"){{item.ID}}">Details</a>
                <a ng-href="@Url.Content("~/Movies/Delete/"){{item.ID}}">Delete</a>
            </td>
        </tr>


    </table>


</div>
